<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about.css">
    <link rel="stylesheet" href="/transition.css">
    <title>About</title>
</head>
<body>
    <div class="container">
    <div class="bisect"></div>
    </div>
    <header class="nav-bar">
        <div class="logo-img"><img class="logo" src="/assets/pokemon-ball.png" alt=""></div>
        <div class="home"><a class="link" href="/index.html">Home</a></div></div>
        <div class="about"><a class="link" href="#about">About</a><div class="active inactive"></div>
        </div>
    </header>

    <main>
        <div class="container">
        <div class="division">
            <div class="game-info">
                <div><img class="game-logo" src="/assets/pokemon-logo.png" alt=""></div>
                <div class="game-description"><p>This game is all about finding your favourite pokemon. You are given a number of pokemon to select and then you have to find which is your favourite one. you will also get know more about your favourite pokemon.</p></div>
                <a href="/views/play.html"><button class="button">Play Now</button></a>

            </div>
            <div class="my-info">
                <div><img class="avatar" src="/assets/IMG_20200205_193203_985(1).jpg" alt=""></div>
                <div class="my-description"><p>Hello, my name is Mobashir Farhan and I love programming and designing. You can check my works from the links below.</p></div>
                <div class="social">
                    <i class="fa fa-youtube fa-3x"></i>
                    <i class="fa fa-instagram fa-3x"></i>
                    <i class="fa fa-github fa-3x"></i>
                    <i class="fa fa-twitter fa-3x"></i>
                    <i class="fa fa-linkedin fa-3x"></i>
                </div>
            </div>
        </div>
    </main>
    </div>
</body>
</html>