<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="/play.css">
    <link rel="stylesheet" href="/transition.css">
</head>

<body>
    <div class="topbar"></div>
    <header class="nav-bar">
        <div class="logo-img"><img class="logo" src="/assets/pokemon-ball.png" alt=""></div>
        <div class="home"><a class="link" href="/index.html">Home</a></div>
        </div>
        <div class="about"><a class="link" href="/views/about.html">About</a></div>
        </div>
    </header>

</body>

</html>